@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcone</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class=" = card-columns">
@foreach (var produkt in Model.Produkty)
  {
    <div class=" card">
        <div class="card-body">
        <h5 class="card-title"> @produkt.Title</h5>
    </div></div>

  }
</div>